@CHARSET "ISO-8859-1";
 article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }
  body{font: normal 16px/1.2em Arial, Helvetica, sans-serif;color:#444}
  *{margin:0;padding:0;}
  ul{list-style:none;}
  a{text-decoration:none;color:#666;}
  
 
  .box{
   border:1px solid darkGrey;
    position:relative;
    float:left;
    background:#eee;
    width:400px;
    left:0px;
    padding:0px;
    margin:2px;
  }
  .PCclose_box{
      background-image:url('Close.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:15px;
    cursor:pointer;
  }
   .PCedit_box{
    background-image:url('Edit.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:35px;
    cursor:pointer;
  }
   .PCsubmit_box{
    background-image:url('Sub.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:35px;
    cursor:pointer;
  }
  .PCcomment_box{
    width:400px;
    font: normal 12px/1.2em Arial, Helvetica, sans-serif;color:#444;
  }
   .PCatclose_box{
     background-image:url('Close.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:15px;
    cursor:pointer;
  }
  
  .PCatedit_box{
    background-image:url('Edit.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:35px;
    cursor:pointer;
  }
   .PCatsubmit_box{
    background-image:url('Sub.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:35px;
    cursor:pointer;
  }
  .PCatcomment_box{
    width:400px;
    font: normal 12px/1.2em Arial, Helvetica, sans-serif;color:#444;
  }
  
   .RCclose_box{
      background-image:url('Close.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:15px;
    cursor:pointer;
  }
  
  .RCedit_box{
    background-image:url('Edit.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:35px;
    cursor:pointer;
  }
   .RCsubmit_box{
    background-image:url('Sub.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:35px;
    cursor:pointer;
  }
  .RCcomment_box{
    width:400px;
    font: normal 12px/1.2em Arial, Helvetica, sans-serif;color:#444;
  }
  
   .RCatclose_box{  background-image:url('Close.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:15px;
    cursor:pointer;
  }
  
  .RCatedit_box{
    background-image:url('Edit.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:35px;
    cursor:pointer;
  }
   .RCatsubmit_box{
    background-image:url('Sub.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:35px;
    cursor:pointer;
  }
  .RCatcomment_box{
    width:400px;
    font: normal 12px/1.2em Arial, Helvetica, sans-serif;color:#444;
  }
  
   .Rclose_box{
    background-image:url('Close.png');
     background-size: contain;
    height:10px;
    width:10px;
     color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:15px;
    border-radius:3px;
    cursor:pointer;
  }
  
   .close_box{
    background:grey;
    color:#fff;
    padding:2px;
    display:inline;
    position:absolute;
    right:15px;
    border-radius:3px;
    cursor:pointer;
  }
  