<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      <!-- local MySQL database properties -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/PG_DB</property>
        <property name="hibernate.connection.username">root</property>  
                
        <!--  AWS RDS properties -->
       	<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">msit2013</property>
        <property name="hibernate.connection.url">jdbc:mysql://pg-db.c41slebym6tm.us-east-1.rds.amazonaws.com:3306/pg_db</property>
        <property name="hibernate.connection.username">root</property> -->
        
        
        <property name="hibernate.default_catalog">PG_DB</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ManagedSessionContext</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        
        <mapping class="edu.cmu.photogenome.domain.ImportedMetadata"/>
        <mapping class="edu.cmu.photogenome.domain.Photo"/>
        <mapping class="edu.cmu.photogenome.domain.PhotoCategory"/>
        <mapping class="edu.cmu.photogenome.domain.PhotoComment"/>
        <mapping class="edu.cmu.photogenome.domain.PhotoMetadata"/>
        <mapping class="edu.cmu.photogenome.domain.PhotoRegion"/>
        <mapping class="edu.cmu.photogenome.domain.RegionCategory"/>
        <mapping class="edu.cmu.photogenome.domain.RegionComment"/>
        <mapping class="edu.cmu.photogenome.domain.RegionCoordinate"/>
        <mapping class="edu.cmu.photogenome.domain.Role"/>
        <mapping class="edu.cmu.photogenome.domain.Shape"/>
        <mapping class="edu.cmu.photogenome.domain.User"/>
        
    </session-factory>
</hibernate-configuration>
